# exclude all dot files except .git, appveyor and travis files
.*
!.clang-format
!.git*
!.appveyor*
!.travis.yml

[Xx]64/
[Bb]uild/
[Bb]uild*/


!deps/shaderc/lib/

# exclude binaries and temporary files
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
bin*/
!deps/vld/bin/
intermediate/
intermediate_plugs/
out/
CMakeFiles/
*.aps
*.user
*.PVS-Studio.*
*.gch
*.so
*.a
*.o
*.cache
# exclude doxygen output
doc/doxygen/html/*
user_data/

zircon_ecs_auto_enum_components.h
zircon_factory_components_to_enums.cpp
zircon_factory_create_component.cpp
zircon_factory_register_lookuptable_component_enum_and_id_type.cpp
zircon_factory_register_components_game_and_sdk.cpp
zircon_factory_create_component_by_name.cpp
zircon_factory_get_component_name_by_enum.cpp
zircon_validate_get_component_type_of_all_components.cpp
zircon_component_fields.h

imgui.ini