# exclude all dot files except .git, appveyor and travis files
.*
!.clang-format
!.git*
!.appveyor*
!.travis.yml

[Xx]64/
[Bb]uild/
[Bb]uild*/


!deps/shaderc/lib/

# exclude binaries and temporary files
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
bin*/
!deps/vld/bin/
intermediate/
intermediate_plugs/
out/
CMakeFiles/
*.aps
*.user
*.PVS-Studio.*
*.gch
*.so
*.a
*.o
*.cache
# exclude doxygen output
doc/doxygen/html/*
user_data/
data_user/
*user_data*/
*data_user*/
*data_game*/**
!data_game/**



zircon_ecs_auto_enum_components.h
zircon_factory_components_to_enums.cpp
zircon_factory_create_component.cpp
zircon_factory_register_lookuptable_component_enum_and_id_type.cpp
zircon_factory_register_components_game_and_sdk.cpp
zircon_factory_create_component_by_name.cpp
zircon_factory_get_component_name_by_enum.cpp
zircon_validate_get_component_type_of_all_components.cpp
zircon_serialize_deserialize_component.cpp
zircon_component_fields.h
zircon_editor_enums.h

zircon_render_editor_passes_enum.h
zircon_render_game_passes_enum.h
zircon_render_pass_factory.h

imgui.ini
report_memleak_*

# build logs produced by validation builds at repo root
build*.log
m[0-9]*.log
*-conf.log
reconf*.logasan*.log

# build/run logs at the repo root (data_user/ already covered)
*.log

# Z3 graphics-development outputs + K21 plugin drop-ins are build/user artifacts
# (anchored to the repo root: source dirs named passes/ exist under src/render/)
/passes/
plugins/
